#nav {
	padding: 1em;
    font-size: 1.3em;
    position: fixed;
    width: 100%;
    background-color: #19121bbd;
    z-index: 10;
}
nav a{
    color: #d9cbeb; 
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-color: #d9cbeb;
    margin: 1em;
    border-width: thin;
    transition-duration: 0.4s;
}
nav a:hover{
    background-color: #140d16e3;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}
nav ul a {
    padding: 0.7em;
}
#banner {
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 4em;
    color: whitesmoke;
    padding: 20%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.514);
}
h1 {
    text-align: center;
    font-family: "Montserrat";
}
#banner p {
    text-align: center;
    font-size: 0.5em;
    font-style: italic;
    margin: -50px;
}
#ContiguousUS {
    margin-top: 5%;
}
#ContiguousUS ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.card {
    width: 400px;
    margin: 1em;
    background-color:#f5f5f5cb;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.44);
}

.card img {
    width: 100%;
    height: 65%;
}

.card h3 {
    font-size: 2em;
}

.card h3, .card p {
    margin: 1rem;
}
.card p:first-of-type {
    text-align: left;
    font-style: italic;
}
.card p {
    text-align: center;
    margin-top: -15px;
}

#Hawaii {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
    text-align: center;
}

#Hawaii > div {
    background-color:#f5f5f5cb;
    padding: 2em;
    width: 75%;
}

#Hawaii  h2 {
    font-size: 4em;
    margin: 0 0 1rem 0;
    text-align: center;
    font-family: "Montserrat";
}

body {
    margin: 0;
    background-color: #19121b;
    font-family: "Raleway";
}
.center {
    margin: 0;
    position: absolute;
    top: 96%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
button {
    background-color: #301e35da;
    border: none;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-family: "Raleway";
}
button:hover {
    background-color:#f5f5f5cb;
    color: black;
}
#Alaska {
    display: flex;
    color: #fff;
    margin: 10%;
}

#Alaska > div {
    width: 100%;
    margin: auto;
}
#Alaska p {
    margin-right: 1rem;
    text-indent: 2em;
    color: whitesmoke;
}
#Alaska h2 {
    margin: 0;
    padding: 1rem;
    font-size: 3em;
    background-color: #f5f5f5cb;
    color: black;
    font-family: "Montserrat";
}
#Alaska > div img {
    width: 100%;
    box-shadow:0 0 22px #00000070;
}
#contact {
    margin: 10% 20%;
    padding: 2%;
    background-color: #f5f5f571;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:0 0 22px #00000070;
}
#contact h2{
    font-family: "Montserrat";
    margin-top: -10px;
}
#contact form{
    display: flex;
}
#contact > form > div {
    display: flex;
    flex-direction: column;
}
#contact label{
    display: flex;
    flex-direction: column;
}
label {
    margin: 1em;
}
input, textarea {
    border: none;
    padding: 0.5em;
    margin: 0 2em 0 0;
    width: 20em;
    font-size: 1em;
    font-family: "Raleway";
    background-color: #f5f5f5cb;
}

textarea {
    height: 9em;
    margin: 0;
}

form button {
    font-size: 1em;
    margin: 1em 0;
    align-self: flex-end;
    padding: 0.5em 1em;
}
#linebreak {
    border-bottom-style: solid;
    border-width: 0.15em;
    border-color: #130d14;
    margin: 0 10%;
}
#contact img{
    width: 50%;
}
#contact p{
    text-align: center;
    margin: 0;
    padding: 0;
}
.parallax {
background-image: url("images/banner4.jpg");
height: 20%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
}
.parallaxH {
background-image: url("images/maunakea.jpg");
height: 15%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
}